# ============================================================================ #
#                                    PYLINT                                    #
# ============================================================================ #
pylint>=2.10.2,<2.11

# ============================================================================ #
#                                    FLAKE8                                    #
# ============================================================================ #
flake8>=3.9.2,<3.10
# ---------------------------------------------------------------------------- #
#                               Flake8 Extension                               #
# ---------------------------------------------------------------------------- #
flake8-absolute-import>=1.0,<1.1
flake8-annotations>=2.6.2,<2.7
flake8-blind-except>=0.2.0,<0.3
flake8-broken-line>=0.3.0,<0.4
flake8-bugbear>=21.4.3,<21.5
flake8-builtins>=1.5.3,<1.6
flake8-class-attributes-order>=0.1.2,<0.2
flake8-classmethod-staticmethod>=1.0,<1.1
flake8-coding>=1.3.2,<1.4
flake8-commas>=2.0.0,<2.1
flake8-comprehensions>=3.6.1,<3.7
flake8-debugger>=4.0.0,<4.1
flake8-docstrings>=1.6.0,<1.7
flake8-eradicate>=1.1.0,<1.2
flake8-executable>=2.1.1,<2.2
flake8-multiline-containers>=0.0.18,<0.1
flake8-mutable>=1.2.0,<1.3
flake8-pep3101>=1.3.0,<1.4
flake8-plugin-utils>=1.3.2,<1.4
flake8-quotes>=3.3.0,<3.4
flake8-return>=1.1.3,<1.2
flake8-simplify>=0.14.0,<0.15
flake8-string-format>=0.3.0,<0.4

# ============================================================================ #
#                                  PYDOCSTYLE                                  #
# ============================================================================ #
pydocstyle>=6.1.1,<6.2

# ============================================================================ #
#                                    MCCABE                                    #
# ============================================================================ #
mccabe>=0.6.1,<0.7

# ============================================================================ #
#                                  PYCODESTYLE                                 #
# ============================================================================ #
pycodestyle>=2.7.0,<2.8

# ============================================================================ #
#                                   PYFLAKES                                   #
# ============================================================================ #
pyflakes>=2.3.1,<2.4

# ============================================================================ #
#                                     ISORT                                    #
# ============================================================================ #
isort>=5.9.3,<5.10

# ============================================================================ #
#                                      PEP                                     #
# ============================================================================ #
autopep8>=1.5.7,<1.6
pep517>=0.11.0,<0.12